html {
	height:100%;
}

body {
	margin:0;
	font-family:arial;
	height:100%;
}

div {
	width:800px;
	height:80px;
	line-height:50px;
	text-align: justify;
	margin:auto;
}

div#punto0{
	float: none;
	width:1200px;
	height:120px;
	line-height:150px;
	font-family: arial;
	font-size: 3.5em;
	text-align: center;
	margin: 5px;
}

body {
	background: turquoise;
}

ul {
	color:black;
	font-weight: bold;
	font-family: arial;
	font-size: 1.2em;
}

img {
	width: 30%;
	border: 1px black solid;
	border-radius: 150px;
}
