html {
	height:100%;
}

body {
	margin:0;
	font-family:arial;
	height:100%;
}

div {
	width:1000px;
	height:50px;
	line-height:30px;
	text-align: center;
	margin:auto;
}

div#punto0{
	float: none;
	width:1200px;
	height:95px;
	line-height:140px;
	font-family: arial;
	font-size: 3.5em;
	text-align: center;
	margin: 5px;
}

img {
	width: 25%;
	border: 1px black solid;
	border-radius: 200px;
}

dt{
	color:black;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	font-size: 1.5em;
}
dd{
	font-family: arial;
	text-align: justify;
}

body {
	background: turquoise;
}	

ul {
	color:black;
	font-weight: bold;
	font-family: arial;
	font-size: 1.2em;
}